.form-container {
    height: 100vh;
    height: 100svh;
    width: 100vw;
    width: 100svw;
}

.form {
    width: 434px;
    padding: 32px;
    grid-gap: 36px;
    background-color: rgba(60, 110, 113, 0.10);
    border-radius: 18px;
    border: 3px solid var(--white);
    box-shadow: inset 2px 4px 6px rgba(45, 45, 45, 0.15);
    backdrop-filter: blur(20px);
}

.form h2 {
    color: var(--button-color);
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
    width: 100%;
}

.input-field-container {
    width: 100%;
    align-items: flex-start;
    gap: 20px;
}

.admin-login-button {
    width: 100%;
    margin-top: 8px;
}