.main-container {
    min-height: 100vh;
    min-height: 100svh;
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    position: relative;
    margin: 30px 50px;
}

.form {
    width: 630px;
    padding: 32px 28px;
    gap: 20px;
    background-color: rgba(60, 110, 113, 0.10);
    border-radius: 18px;
    backdrop-filter: blur(4px);
    align-items: flex-start;
}

.heading-container h2 {
    color: var(--button-color);
    font-size: 30px;
    line-height: 38px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 12px;
}

.heading-container p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: var(--text-color);
}

.input-field-container {
    width: 100%;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.form a {
    text-decoration: none;
    color: var(--heading-color);
    margin: 0 12px;
    font-size: 18px;
    font-weight: 500;
}

.login-button {
    width: 100%;
    margin-top: 8px;
}

@media (max-width:768px) {
    .main-container {
        min-height: 100vh;
        min-height: 100svh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 24px 5px;
    }

    .bg-img {
        width: 100%;
        padding: 0 12px;
    }

    .form {
        margin: 0 16px;
        width: 100%;
        max-width: 390px;
        padding: 18px 12px;
        gap: 8px;
        align-items: flex-start;
    }

    .heading-container h2 {
        color: var(--button-color);
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
        width: 100%;
        margin-bottom: 8px;
    }

    .heading-container p {
        font-size: 14px;
        line-height: 16px;
    }

    .form a {
        margin: 0 12px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        margin-top: 8px;
    }
}